/*
 * Copyright (c) 2023. AnyKeyShik Rarity
 *
 * admin@anykeyshik.xyz
 *
 * https://t.me/AnyKeyShik
 */

.table-projects {
   border: 1px solid darken(#050505, 5%);
   border-radius: 10px;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;
   width: 1000px;
}

table {
   width: 100%;
    
   img {
       border-radius: 50%;
       height: 60px;
       width: 60px;
       object-fit: cover;
   }
   
   td, th { 
      padding: 10px; 
   }
   
   td {
      text-align: center;
      vertical-align: middle;
      
      &:last-child {
         font-size: 0.95em;
         line-height: 1.4;
         text-align: left;
      }
   }
   
   td.status span {
      position: relative;
      border-radius: 30px;
      padding: 4px 10px 4px 25px;
   }
   td.status span {
      position: relative;
      border-radius: 30px;
      padding: 1px 10px 4px 25px;
   }
   td.status span:after {
      position: absolute;
      top: 9px;
      left: 10px;
      width: 10px;
      height: 10px;
      content: '';
      border-radius: 50%;
   }
   td.status .active {
      background: #cff6dd;
      color: #1fa750;
   }
   td.status .active:after {
      background: #23bd5a;
   }
   td.status .waiting {
      background: #fdf5dd;
      color: #cfa00c;
   }
   td.status .waiting:after {
      background: #f2be1d;
   }
   td.status .finished {
      background: #ddf3fd;
      color: #0cb5cf;
   }
   td.status .finished:after {
      background: #1df2eb;
   }
   td.status .dropped {
      background: #fddddd;
      color: #cf0c0c;
   }
   td.status .dropped:after {
      background: #f21d1d;
   }
   
   th { 
      font-weight: 300;
   }
   
   tr {     
      &:nth-child(2n) { background-color: white; }
   }
}

@media screen and (max-width: 700px) {   
   table, tr, td { display: block; }
   
   td {
      &:first-child {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         width: 100px;
      }

      &:not(:first-child) {
         clear: both;
         margin-left: 100px;
         padding: 4px 20px 4px 90px;
         position: relative;
         text-align: left;

         &:before {
            content: '';
            display: block;
            left: 0;
            position: absolute;
         }
      }

      &:nth-child(2):before { content: 'Title:'; }
      &:nth-child(3):before { content: 'Kind:'; }
      &:nth-child(4):before { content: 'Status:'; }
      &:nth-child(5):before { content: 'Description:'; }
   }
   
   tr {
      padding: 10px 0;
      position: relative;
      &:first-child { display: none; }
   }
}

@media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }
   
   img {
      border: 3px solid;
      height: 100px;
      margin: 0.5rem 0;
      width: 100px;
   }
   
   td {
      &:first-child { 
         border-radius: 10px 10px 0 0;
         position: relative;   
         top: 0;
         transform: translateY(0);
         width: 100%;
      }
      
      &:not(:first-child) {
         margin: 0;
         padding: 5px 5em;
         width: 100%;
         
         &:before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
         }
      }
      
      &:last-child  { padding-bottom: 1rem !important; }
   }
   
   tr {
      background-color: white !important;
      border-radius: 10px;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
   }
   
   .table-projects { 
      border: none; 
      box-shadow: none;
      overflow: visible;
   }
}
