/*
 * Copyright (c) 2023. AnyKeyShik Rarity
 *
 * admin@anykeyshik.xyz
 *
 * https://t.me/AnyKeyShik
 */

body {
    * { box-sizing: border-box; }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.project {
    padding: 3rem 1.5rem;
    text-align: center;
}

.homepage {
    padding: 3rem 1.5rem;
    text-align: center;
}

.list-counter-square {
    list-style: none;
    margin: 0;
    padding: 0;

}

.list-counter-square > li {
    position: relative;
    display: block;
    margin-bottom: .25rem;
    padding: .325rem .825rem .325rem 1.325rem;
    color: #fff;
    background: #C2185B;

}

.list-counter-square > li:last-child {
    margin-bottom: 0;

}

.list-counter-square > li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.5rem;
    background: #ec407a;

}

