{% extends "base.html" %}

{% block pagename %}
    <title>Kyou Fujibayashi</title>
{% endblock %}

{% block favicon %}
    <link href="{{ url_for('static', filename='css/projects.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon_admin.ico') }}">
{% endblock %}

{% block admin %}
    <li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
    <div class="homepage">
        <h1>Welcome to admin page!</h1>

        <blockquote class="blockquote">
            <p class="mb-0">Isn’t there something strange in becoming friends because you’re asked? Friends aren’t given; you’re supposed to make them.</p>
            <footer class="blockquote-footer">Kyou Fujibayashi <cite title="Source Title">( 藤林 杏 )</cite></footer>
        </blockquote>

        <hr/>

        <div class="row">
            <img src="{{ url_for('static', filename='img/kyo.jpg') }}" alt="Kyo" class="center"/>
        </div>

        <hr/>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} text-center container">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h3>Currently listed projects:</h3>
        <div class="list-group dark">
            {% for project in projects %}
                <a href="/edit?id={{ project.id }}"
                   class="list-group-item list-group-item-action">{{ project.name }}</a>
            {% endfor %}
            <hr/>
            <a href="/edit" class="list-group-item list-group-item-action bg-warning">Add project</a>
        </div>

    </div>
{% endblock %}
