{% extends "base.html" %}

{% block pagename %}
    <title>Bismarck</title>
{% endblock %}

{% block favicon %}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon_bismarck.ico') }}">
{% endblock %}

{% block content %}
    <div class="project">
        <h1>Edit project</h1>

        <hr/>
        <div class="list-group dark">
            <a href="/admin" class="list-group-item list-group-item-action bg-info center">Cancel
                edit</a>
        </div>
        <hr/>

        <blockquote class="blockquote">
            <p class="mb-0">Admiral, no matter what it is, it's bad to work too hard, okay? A change of pace is also a good thing, you know?</p>
            <footer class="blockquote-footer">Bismarck <cite title="Source Title">( ビスマルク )</cite></footer>
        </blockquote>

        <hr/>

        <div class="row">
            <img src="{{ url_for('static', filename='img/bismarck.png') }}" alt="Bismarck" class="center"/>
        </div>

        <hr/>

        <div class="list-group dark">
            <a href="/delete?id={{ project.id }}"
               class="list-group-item list-group-item-action bg-danger center">Delete</a>
        </div>

        <hr/>

        <form method="POST" action="" enctype="multipart/form-data" class="center">
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <br/>
                <br/>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form.project_name(class="form-control form-control-lg", type="text", placeholder="Title") }}
                        {{ form.project_kind(class="form-control form-control-lg", type="text", placeholder="Kind") }}
                        <label>
                            {{ form.project_status(class="form-control form-control-lg") }}
                        </label>
                        {{ form.project_description(class="form-control form-control-lg", type="text", placeholder="Description") }}
                        {{ form.project_url(class="form-control form-control-lg", type="url", placeholder="https://example.com") }}
                        <label>
                            Project image
                            {{ form.project_img_file(class="form-control form-control-lg") }}
                            {{ form.project_img_url(class="form-control form-control-lg", type="url", placeholder="https://example.com") }}
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
{% endblock %}
