{% extends "base.html" %}

{% block pagename %}
    <title>Miku Hatsune</title>
{% endblock %}

{% block favicon %}
    <link href="{{ url_for('static', filename='css/projects.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon_miku.ico') }}">
{% endblock %}

{% block content %}
    <div class="homepage">
        <h1>Welcome to my home!</h1>

        <blockquote class="blockquote">
            <p class="mb-0">Dreams become real in this digital world</p>
            <footer class="blockquote-footer">Miku Hatsune <cite title="Source Title">( 初音 ミク )</cite></footer>
        </blockquote>

        <hr/>

        <div class="row">
            <img src="{{ url_for('static', filename='img/miku.jpg') }}" alt="Miku" class="center"/>
        </div>

        <hr/>

        <h3>My pet projects:</h3>
        <div class="table-projects">
            <table cellspacing="0">
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Kind</th>
                    <th>Support status</th>
                    <th width="250">Comments</th>
                </tr>

                {% for project in projects %}
                {% if project.url %}
                <tr onclick="window.open('{{ project.url }}', '_blank');" style = "cursor: pointer;">
                {% else %}
                <tr>
                {% endif %}
                    {% if project.img_url %}
                        <td><img src="{{ project.img_url }}" alt="" /></td>
                    {% elif project.img_file %}
                        <td><img src="{{ url_for('static', filename=project.img_file) }}" alt="" /></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ project.name }}</td>
                    <td>{{ project.kind }}</td>
                    <td class='status'>
                        <span class='{{ project.status_css }}'>{{ project.status }}</span>
                    </td>
                    <td>{{ project.description }}</td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
