{% extends "base.html" %}

{% block pagename %}
    <title>Login</title>
{% endblock %}

{% block favicon %}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon_admin.ico') }}">
{% endblock %}

{% block content %}
    <div class="project">
        <h1>Login</h1>

        <blockquote class="blockquote">
            <p class="mb-0">What else would I be here for? To illegally enter the premises, of course.</p>
            <footer class="blockquote-footer">Haruhi Suzumiya <cite title="Source Title">( ハルヒ 涼宮 )</cite></footer>
        </blockquote>

        <hr/>

        <div class="row">
            <img src="{{ url_for('static', filename='img/haruhi_login.jpg') }}" alt="Haruhi" class="center"/>
        </div>

        <br/>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} text-center container">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="post" action="" class="center">
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form.username(class="form-control form-control-lg", type="text", placeholder="Username") }}
                        {{ form.password(class="form-control form-control-lg", type="password", placeholder="Password") }}
                    </div>

                    <label class="checkbox">
                        {{ form.remember_me }}
                        Remember me
                    </label>
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
{% endblock %}
